.questions-container2 {
  /* background-color: #0575e6; */
  padding: 0px 20px 20px 20px;
  border-radius: 15px;
  color: white;
  font-family: Arial, sans-serif;
  text-align: left;
  height: max-content;
}
.ques-u {
  background-color: white;
  padding: 10px;
}
.ques-u .questions-heading {
  margin-top: 0px;
}
.top-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-button {
  background-color: #ffffff;
  color: #0575e6;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 16px;
  flex: 1;
  text-align: center;
  border-top: 1px solid #dfdede;
  background-color: #fff;
  border-radius: 15px 15px 0px 0px;
}

.top-button.active {
  background-color: #0575e6;
  color: #ffffff;
}

.questions-heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.by-buttons {
  display: flex;
  margin-bottom: 20px;
}

.by-button {
  background-color: #ffffff;
  color: #0575e6;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  text-align: center;
}

.by-button.active {
  background-color: #0575e6;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.questions-list {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  color: #000;
}

.question-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.question-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.question-item p {
  font-size: 16px;
  margin: 5px 0;
}
