.file-upload-container {
  width: 800px;
  padding: 20px 20px 50px 20px;
  background-color: #f8faff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: relative;
  text-align: left;
}

.file-upload-container h3 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.file-upload-container h3 i {
  color: #0575e6;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 10px;
}
.file-upload-container textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  resize: none;
}

.upload-area {
  padding: 20px;
  border: 2px dashed #b3afaf;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  color: #999;
}

.upload-placeholder {
  margin-bottom: 10px;
}
.upload-placeholder div i {
  font-size: 2rem;
  font-weight: bold;
  color: #999;
}
.upload-placeholder a {
  color: #025bd4;
  text-decoration: underline;
}
.upload-area p:nth-child(even) {
  color: #7c7c7c;
  font-weight: 700;
}
.upload-area p:nth-child(odd) {
  color: #838383;
  margin-top: 0;
  font-size: 1rem;
}
.uploaded-files {
  margin-bottom: 20px;
  text-align: left;
}

.uploaded-files h4 {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #333;
}

.uploaded-files ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.uploaded-files ul li span {
  text-align: left;
}

.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}

.file-icon {
  margin-right: 10px;
}

.file-icon.pdf {
  color: red;
}

.file-icon.docx {
  color: blue;
}

.file-item button {
  background: none;
  border: none;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}

.start-button {
  /* width: 100 */
  padding: 8px 50px;
  border-radius: 40px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: linear-gradient(65.3deg, #0575e6 6.93%, #021b79 89.92%);

  color: #fff;
  border: none;
  /* border-radius: 5px; */
  font-size: 16px;
  cursor: pointer;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
}
