.header {
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
}
.header-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.7rem;
  font-weight: bold;
  color: #111;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 5px 15px;
  font-weight: 500;
}
.nav a:hover {
  color: white;
  background: linear-gradient(65.3deg, #0575e6 6.93%, #021b79 89.92%);
  border-radius: 20px;
}
.nav a.active {
  color: white;
  background: linear-gradient(65.3deg, #0575e6 6.93%, #021b79 89.92%);
  padding: 5px 15px;
  border-radius: 20px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.bell-nav {
  position: relative;
}
.dot-n {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #0575e6;
  position: absolute;
  top: 6px;
  right: 2px;
}
.profile div i {
  font-size: 1.2rem;
}
